In [2]:
""" Imports """
import json
import pandas as pd
import polars as pl

# Defining a Database Schema

## What data do we need

Starting from the top, what information should we display to users?

example return field in csv format (use tsv since a few course/dept names have commas)

Example: user selects inst=UCSC, course=MATH19A
`San Diego Miramar College, MATH 150, Calculus with Analytic Geometry I, 4 units`

Example: user selects inst=UCSD, course=CHEM6B

`San Diego Miramar College, CHEM 200, General Chemistry I - Lecture, 3 units`

`and`

`San Diego Miramar College, CHEM 201, General Chemistry II - Lecture, 3 units`


Required data:
- sending institution (e.g. San Diego Miramar College)
- course prefix (e.g. CHEM)
- course number (e.g. 201)
- course name (e.g. General Chemistry II - Lecture)
- unit count (e.g 3 units)
- course ID (some string of numbers, makes mappings easy to deal with)


## The schema

Table 1: course glossary

fields:
- id (int, primary key)  // course id
- inst (string)  // community college or univ
- prefix (string)  // course prefix (e.g. CHEM)
- course number (int) 
- course name (string)
- min units (int)  // if min units and max units are the same, display 1
- max units (int)

Table 2: articulations
fields:
- id: (int, primary key)
- inst (uni) (string)
- agreements (json string)

## The JSON string

tbd, working on that rn

## The query flow

- user enters site
- user picks university -> get list of all courses at university for dropdown
    - sends request to backend
    - backend uses user input to send query to db
        -  `FROM glossary SELECT * WHERE inst IS {whatever the user picked}`
    - backend converts results into json w/ id: {prefix, num, name, min units, max units}  // use for formatting dropdown
    - backend returns json
- user picks course from list -> get list of all articulated courses from id
    - sends request to backend
    - backend uses user input to send query to db
        - `FROM articulations SELECT agreements WHERE id IS {id of course user picked}`
        - returns 1 json string with all articulations
    - backend aggregates all json string'd course IDs into list, queries course data
        - `FROM glossary SELECT * WHERE id IS {ids in list}`
    - backend converts results into json w/ id: {inst, prefix, num, name, min units, max units}  // actual displayed data
    - backend returns both jsons (articulation string w/ IDs and the cc glossary)
- both jsons formatted into cells on frontend
- user gets results

In [9]:
""" Define functions for generating an in-memory glossary of every course in an AllPrefixes agreement page """

def get_query(cc_id: int, uni_id: int) -> dict:
    with open(f"./data/{uni_id}/{cc_id}to{uni_id}.json", "r") as fp:
        out = json.load(fp)
    return out
    

def update_courses(courselist: list[dict], glossary: dict, inst: str) -> None:
    for course in courselist:
        course_id: int = course["courseIdentifierParentId"]
        
        if course_id not in glossary:
            
            if not all((course["prefix"],
                        course["courseNumber"],
                        course["courseTitle"],
                        course["minUnits"],
                        course["maxUnits"])):
                continue
            
            glossary[course_id] = {
                "course_id": int(course_id),
                "inst_id": int(inst),
                "course_code": course["prefix"] + " " + course["courseNumber"],
                "course_name": course["courseTitle"],
                "min_units": int(course["minUnits"]),
                "max_units": int(course["maxUnits"])
            }

def create_course_glossary(cc: int, uni: int) -> pl.DataFrame:
    # create output glossary
    course_glossary = dict()
    articulations = get_query(cc_id=cc, uni_id=uni)
    
    # populate query
    for dept in articulations:
        articulationList = dept["articulations"] if "articulations" in dept else [dept["articulation"]]
            # for articulation in dept["articulations"]:
        for articulation in articulationList:
            
            # handle university courses
            uni_courses: list[dict] = [articulation["course"]] if "course" in articulation else articulation["series"]["courses"]
            update_courses(courselist=uni_courses, glossary=course_glossary, inst=uni)
                
            # handle cc courses
            agreements: dict | None = articulation["sendingArticulation"]
            if isinstance(agreements, dict):
                for agreement in agreements["items"]:
                    update_courses(courselist=agreement["items"], glossary=course_glossary, inst=cc)
        
        print("created df for", cc, "->", uni)
        return pl.DataFrame(pd.DataFrame(course_glossary.values(), index=course_glossary.keys()))
    # except TypeError as err:
    #     print(f"TYPEERROR (cc={cc}, uni={uni}):", err)

In [ ]:
articulations = pl.DataFrame(get_query(45, 7)).explode("articulations")

articulations = pl.concat((
    articulations.get_column("articulations").struct.field("course").struct.field("courseIdentifierParentId").rename("course_id").to_frame(),
    articulations.get_column("articulations").struct.field("series").to_frame(),
    articulations.get_column("articulations").struct.field("sendingArticulation").to_frame(),
), how="horizontal")

# test = articulations.with_columns(pl.col("series").struct.field("courses")).explode("courses")
# test = test.with_columns(
#     course_id2=pl.col("courses").struct.field("courseIdentifierParentId"),
#     conj=pl.col("series").struct.field("conjunction"),
# )
# test = test.with_columns(pl.coalesce("course_id", "course_id2").alias("course_id"))
# test.drop_in_place("series")
# test.drop_in_place("courses")
# test.drop_in_place("course_id2")

test = (
    articulations
    .with_columns(pl.col("series").struct.field("courses"))
    .explode("courses")
    .with_columns(
        course_id=pl.coalesce(
            "course_id",
            pl.col("courses").struct.field("courseIdentifierParentId")
        ),
        items=pl.col("sendingArticulation").struct.field("items")
    )
    .drop(["series", "courses"])
)

# test.with_columns(pl.col("sendingArticulation").struct.json_encode())
test.filter(pl.col("items").is_not_null())
test.filter(pl.col("course_id").eq(289392))

result = (
    test.filter(pl.col("course_id").eq(289392))
    .select("items").to_series().to_list()
)
result[0]

test.get_column("items").list.get(0, null_on_oob=True).struct.field("items")
# ['courseConjunction', 'items', 'attributes', 'position', 'type']

test.with_columns(
    items2=pl.col("items").list.get(0, null_on_oob=True).struct.field("items")
)

(
    test.get_column("items")
    .list.get(0, null_on_oob=True)
    .struct.field("items")
    .list.get(0, null_on_oob=True)
    .struct.field("courseIdentifierParentId")
)

shape: (499,)
Series: 'courseIdentifierParentId' [i64]
[
	null
	null
	null
	null
	200913
	…
	null
	null
	null
	null
	null
]

In [ ]:
def create_course_glossary_pl(cc: int, uni: int) -> pl.DataFrame:
    articulations = get_query(cc_id=cc, uni_id=uni)
    glossary = pl.DataFrame({
        "course_id": pl.UInt16,
        "inst_id": pl.UInt16,
        "course_code": pl.Utf8,
        "course_name": pl.Utf8,
        "min_units": pl.UInt8,
        "max_units": pl.Uint8
    })

In [10]:
create_course_glossary(cc=45, uni=7)

created df for 45 -> 7

shape: (4, 6)
┌───────────┬─────────┬─────────────┬─────────────────────────────────┬───────────┬───────────┐
│ course_id ┆ inst_id ┆ course_code ┆ course_name                     ┆ min_units ┆ max_units │
│ ---       ┆ ---     ┆ ---         ┆ ---                             ┆ ---       ┆ ---       │
│ i64       ┆ i64     ┆ str         ┆ str                             ┆ i64       ┆ i64       │
╞═══════════╪═════════╪═════════════╪═════════════════════════════════╪═══════════╪═══════════╡
│ 384566    ┆ 7       ┆ AAS 10      ┆ Introduction to African Americ… ┆ 4         ┆ 4         │
│ 384567    ┆ 7       ┆ AAS 11      ┆ Introduction to Black Diaspori… ┆ 4         ┆ 4         │
│ 384569    ┆ 7       ┆ AAS 14      ┆ Introduction to African Studie… ┆ 4         ┆ 4         │
│ 384570    ┆ 7       ┆ AAS 15      ┆ Racism and Global Imperialism   ┆ 4         ┆ 4         │
└───────────┴─────────┴─────────────┴─────────────────────────────────┴───────────┴───────────┘

In [11]:
"""
Create a test run of a full course glossary
"""

def create_full_glossary():
    with open("./data/institutions_cc.json", "r") as cc_fp, open("./data/institutions_state.json", "r") as uni_fp:
        cc_ids = json.load(cc_fp).keys()
        uni_ids = json.load(uni_fp).keys()
    
    glossary = []
    for uni_id in uni_ids:
        batch = []
        for cc_id in cc_ids:
            try:
                batch.append(create_course_glossary(cc=cc_id,uni=uni_id))
            except FileNotFoundError:  # no query exists, no query was scraped
                continue
        glossary.extend(batch)
    print("glossary list constructed")
    return pl.concat(glossary)


"""
Notes: getting errors for the following cc:uni combos
KeyError 'articulations': 51:1, 55:26, 124:26
TypeError: str + NoneType unsupported: 97:21, 51:50

Checking files...
51:1 -> AllMajors file, diff schema, no by dept split

AllPrefixes Schema: 
results
-> articulations
    -> list of depts
        -> name, list of articulations for dept
            -> course objects
            
AllMajors Schema:
results
-> articulations
    -> list of articulations
        -> templateCellId, articulation, 
"""

create_full_glossary()

created df for 2 -> 1
created df for 3 -> 1
created df for 4 -> 1
created df for 5 -> 1
created df for 6 -> 1
created df for 8 -> 1
created df for 9 -> 1
created df for 10 -> 1
created df for 13 -> 1
created df for 14 -> 1
created df for 16 -> 1
created df for 17 -> 1
created df for 18 -> 1
created df for 19 -> 1
created df for 20 -> 1
created df for 25 -> 1
created df for 27 -> 1
created df for 28 -> 1
created df for 30 -> 1
created df for 31 -> 1
created df for 32 -> 1
created df for 33 -> 1
created df for 35 -> 1
created df for 36 -> 1
created df for 38 -> 1
created df for 40 -> 1
created df for 41 -> 1
created df for 43 -> 1
created df for 44 -> 1
created df for 45 -> 1
created df for 47 -> 1
created df for 48 -> 1
created df for 49 -> 1
created df for 51 -> 1
created df for 52 -> 1
created df for 53 -> 1
created df for 54 -> 1
created df for 55 -> 1
created df for 56 -> 1
created df for 57 -> 1
created df for 58 -> 1
created df for 61 -> 1
created df for 62 -> 1
created df for 63 -> 1
created df for 64 -> 1
created df for 65 -> 1
created df for 66 -> 1
created df for 67 -> 1
created df for 68 -> 1
created df for 69 -> 1
created df for 70 -> 1
created df for 71 -> 1
created df for 72 -> 1
created df for 73 -> 1
created df for 74 -> 1
created df for 77 -> 1
created df for 78 -> 1
created df for 80 -> 1
created df for 82 -> 1
created df for 83 -> 1
created df for 84 -> 1
created df for 86 -> 1
created df for 87 -> 1
created df for 90 -> 1
created df for 91 -> 1
created df for 92 -> 1
created df for 93 -> 1
created df for 94 -> 1
created df for 95 -> 1
created df for 96 -> 1
created df for 97 -> 1
created df for 99 -> 1
created df for 100 -> 1
created df for 101 -> 1
created df for 102 -> 1
created df for 103 -> 1
created df for 104 -> 1
created df for 105 -> 1
created df for 106 -> 1
created df for 107 -> 1
created df for 108 -> 1
created df for 109 -> 1
created df for 110 -> 1
created df for 111 -> 1
created df for 112 -> 1
created df for 113 -> 1
created df for 114 -> 1
created df for 118 -> 1
created df for 119 -> 1
created df for 121 -> 1
created df for 122 -> 1
created df for 123 -> 1
created df for 124 -> 1
created df for 125 -> 1
created df for 126 -> 1
created df for 127 -> 1
created df for 130 -> 1
created df for 131 -> 1
created df for 133 -> 1
created df for 134 -> 1
created df for 135 -> 1
created df for 136 -> 1
created df for 137 -> 1
created df for 138 -> 1
created df for 139 -> 1
created df for 140 -> 1
created df for 142 -> 1
created df for 145 -> 1
created df for 146 -> 1
created df for 147 -> 1
created df for 148 -> 1
created df for 149 -> 1
created df for 150 -> 1
created df for 153 -> 1
created df for 200 -> 1
created df for 2 -> 7
created df for 3 -> 7
created df for 4 -> 7
created df for 5 -> 7
created df for 6 -> 7
created df for 8 -> 7
created df for 9 -> 7
created df for 10 -> 7
created df for 13 -> 7
created df for 14 -> 7
created df for 16 -> 7
created df for 17 -> 7
created df for 18 -> 7
created df for 19 -> 7
created df for 20 -> 7
created df for 25 -> 7
created df for 27 -> 7
created df for 28 -> 7
created df for 30 -> 7
created df for 31 -> 7
created df for 32 -> 7
created df for 33 -> 7
created df for 35 -> 7
created df for 36 -> 7
created df for 38 -> 7
created df for 40 -> 7
created df for 41 -> 7
created df for 43 -> 7
created df for 44 -> 7
created df for 45 -> 7
created df for 47 -> 7
created df for 48 -> 7
created df for 49 -> 7
created df for 51 -> 7
created df for 52 -> 7
created df for 53 -> 7
created df for 54 -> 7
created df for 55 -> 7
created df for 56 -> 7
created df for 57 -> 7
created df for 58 -> 7
created df for 61 -> 7
created df for 62 -> 7
created df for 63 -> 7
created df for 64 -> 7
created df for 65 -> 7
created df for 66 -> 7
created df for 67 -> 7
created df for 68 -> 7
created df for 69 -> 7
created df for 70 -> 7
created df for 71 -> 7
created df for 72 -> 7
created df for 73 -> 7
created df for 74 -> 7
created df for 77 -> 7
created df for 78 -> 7
created df for 80 -> 7
created df for 82 -> 7
created df for 83 -> 7
created df for 84 -> 7
created df for 86 -> 7
created df for 87 -> 7
created df for 90 -> 7
created df for 91 -> 7
created df for 92 -> 7
created df for 93 -> 7
created df for 94 -> 7
created df for 95 -> 7
created df for 96 -> 7
created df for 97 -> 7
created df for 99 -> 7
created df for 100 -> 7
created df for 101 -> 7
created df for 102 -> 7
created df for 103 -> 7
created df for 104 -> 7
created df for 105 -> 7
created df for 106 -> 7
created df for 107 -> 7
created df for 108 -> 7
created df for 109 -> 7
created df for 110 -> 7
created df for 111 -> 7
created df for 112 -> 7
created df for 113 -> 7
created df for 114 -> 7
created df for 118 -> 7
created df for 119 -> 7
created df for 121 -> 7
created df for 122 -> 7
created df for 123 -> 7
created df for 124 -> 7
created df for 125 -> 7
created df for 126 -> 7
created df for 127 -> 7
created df for 130 -> 7
created df for 131 -> 7
created df for 133 -> 7
created df for 134 -> 7
created df for 135 -> 7
created df for 136 -> 7
created df for 137 -> 7
created df for 138 -> 7
created df for 139 -> 7
created df for 140 -> 7
created df for 142 -> 7
created df for 145 -> 7
created df for 146 -> 7
created df for 147 -> 7
created df for 148 -> 7
created df for 149 -> 7
created df for 150 -> 7
created df for 153 -> 7
created df for 200 -> 7
created df for 2 -> 11
created df for 3 -> 11
created df for 4 -> 11
created df for 5 -> 11
created df for 6 -> 11
created df for 8 -> 11
created df for 9 -> 11
created df for 10 -> 11
created df for 13 -> 11
created df for 14 -> 11
created df for 16 -> 11
created df for 17 -> 11
created df for 18 -> 11
created df for 19 -> 11
created df for 20 -> 11
created df for 25 -> 11
created df for 27 -> 11
created df for 28 -> 11
created df for 30 -> 11
created df for 31 -> 11
created df for 32 -> 11
created df for 33 -> 11
created df for 35 -> 11
created df for 36 -> 11
created df for 38 -> 11
created df for 40 -> 11
created df for 41 -> 11
created df for 43 -> 11
created df for 44 -> 11
created df for 45 -> 11
created df for 47 -> 11
created df for 48 -> 11
created df for 49 -> 11
created df for 51 -> 11
created df for 52 -> 11
created df for 53 -> 11
created df for 54 -> 11
created df for 55 -> 11
created df for 56 -> 11
created df for 57 -> 11
created df for 58 -> 11
created df for 61 -> 11
created df for 62 -> 11
created df for 63 -> 11
created df for 64 -> 11
created df for 65 -> 11
created df for 66 -> 11
created df for 67 -> 11
created df for 68 -> 11
created df for 69 -> 11
created df for 70 -> 11
created df for 71 -> 11
created df for 72 -> 11
created df for 73 -> 11
created df for 74 -> 11
created df for 77 -> 11
created df for 78 -> 11
created df for 80 -> 11
created df for 82 -> 11
created df for 83 -> 11
created df for 84 -> 11
created df for 86 -> 11
created df for 87 -> 11
created df for 90 -> 11
created df for 91 -> 11
created df for 92 -> 11
created df for 93 -> 11
created df for 94 -> 11
created df for 95 -> 11
created df for 96 -> 11
created df for 97 -> 11
created df for 99 -> 11
created df for 100 -> 11
created df for 101 -> 11
created df for 102 -> 11
created df for 103 -> 11
created df for 104 -> 11
created df for 105 -> 11
created df for 106 -> 11
created df for 107 -> 11
created df for 108 -> 11
created df for 109 -> 11
created df for 110 -> 11
created df for 111 -> 11
created df for 112 -> 11
created df for 113 -> 11
created df for 114 -> 11
created df for 118 -> 11
created df for 119 -> 11
created df for 121 -> 11
created df for 122 -> 11
created df for 123 -> 11
created df for 124 -> 11
created df for 125 -> 11
created df for 126 -> 11
created df for 127 -> 11
created df for 130 -> 11
created df for 131 -> 11
created df for 133 -> 11
created df for 134 -> 11
created df for 135 -> 11
created df for 136 -> 11
created df for 137 -> 11
created df for 138 -> 11
created df for 139 -> 11
created df for 140 -> 11
created df for 142 -> 11
created df for 145 -> 11
created df for 146 -> 11
created df for 147 -> 11
created df for 148 -> 11
created df for 149 -> 11
created df for 150 -> 11
created df for 153 -> 11
created df for 200 -> 11
created df for 2 -> 12
created df for 3 -> 12
created df for 4 -> 12
created df for 5 -> 12
created df for 6 -> 12
created df for 8 -> 12
created df for 9 -> 12
created df for 10 -> 12
created df for 13 -> 12
created df for 14 -> 12
created df for 16 -> 12
created df for 17 -> 12
created df for 18 -> 12
created df for 19 -> 12
created df for 20 -> 12
created df for 25 -> 12
created df for 27 -> 12
created df for 28 -> 12
created df for 30 -> 12
created df for 31 -> 12
created df for 32 -> 12
created df for 33 -> 12
created df for 35 -> 12
created df for 36 -> 12
created df for 38 -> 12
created df for 40 -> 12
created df for 41 -> 12
created df for 43 -> 12
created df for 44 -> 12
created df for 45 -> 12
created df for 47 -> 12
created df for 48 -> 12
created df for 49 -> 12
created df for 51 -> 12
created df for 52 -> 12
created df for 53 -> 12
created df for 54 -> 12
created df for 55 -> 12
created df for 56 -> 12
created df for 57 -> 12
created df for 58 -> 12
created df for 61 -> 12
created df for 62 -> 12
created df for 63 -> 12
created df for 64 -> 12
created df for 65 -> 12
created df for 66 -> 12
created df for 67 -> 12
created df for 68 -> 12
created df for 69 -> 12
created df for 70 -> 12
created df for 71 -> 12
created df for 72 -> 12
created df for 73 -> 12
created df for 74 -> 12
created df for 77 -> 12
created df for 78 -> 12
created df for 80 -> 12
created df for 82 -> 12
created df for 83 -> 12
created df for 84 -> 12
created df for 86 -> 12
created df for 87 -> 12
created df for 90 -> 12
created df for 91 -> 12
created df for 92 -> 12
created df for 93 -> 12
created df for 94 -> 12
created df for 95 -> 12
created df for 96 -> 12
created df for 97 -> 12
created df for 99 -> 12
created df for 100 -> 12
created df for 101 -> 12
created df for 102 -> 12
created df for 103 -> 12
created df for 104 -> 12
created df for 105 -> 12
created df for 106 -> 12
created df for 107 -> 12
created df for 108 -> 12
created df for 109 -> 12
created df for 110 -> 12
created df for 111 -> 12
created df for 112 -> 12
created df for 113 -> 12
created df for 114 -> 12
created df for 118 -> 12
created df for 119 -> 12
created df for 121 -> 12
created df for 122 -> 12
created df for 123 -> 12
created df for 124 -> 12
created df for 125 -> 12
created df for 126 -> 12
created df for 127 -> 12
created df for 130 -> 12
created df for 131 -> 12
created df for 133 -> 12
created df for 134 -> 12
created df for 135 -> 12
created df for 136 -> 12
created df for 137 -> 12
created df for 138 -> 12
created df for 139 -> 12
created df for 140 -> 12
created df for 142 -> 12
created df for 145 -> 12
created df for 146 -> 12
created df for 147 -> 12
created df for 148 -> 12
created df for 149 -> 12
created df for 150 -> 12
created df for 153 -> 12
created df for 200 -> 12
created df for 2 -> 21
created df for 3 -> 21
created df for 4 -> 21
created df for 5 -> 21
created df for 6 -> 21
created df for 8 -> 21
created df for 9 -> 21
created df for 10 -> 21
created df for 13 -> 21
created df for 14 -> 21
created df for 16 -> 21
created df for 17 -> 21
created df for 18 -> 21
created df for 19 -> 21
created df for 20 -> 21
created df for 25 -> 21
created df for 27 -> 21
created df for 28 -> 21
created df for 30 -> 21
created df for 31 -> 21
created df for 32 -> 21
created df for 33 -> 21
created df for 35 -> 21
created df for 36 -> 21
created df for 38 -> 21
created df for 40 -> 21
created df for 41 -> 21
created df for 43 -> 21
created df for 44 -> 21
created df for 45 -> 21
created df for 47 -> 21
created df for 48 -> 21
created df for 49 -> 21
created df for 51 -> 21
created df for 52 -> 21
created df for 53 -> 21
created df for 54 -> 21
created df for 55 -> 21
created df for 56 -> 21
created df for 57 -> 21
created df for 58 -> 21
created df for 61 -> 21
created df for 62 -> 21
created df for 63 -> 21
created df for 64 -> 21
created df for 65 -> 21
created df for 66 -> 21
created df for 67 -> 21
created df for 68 -> 21
created df for 69 -> 21
created df for 70 -> 21
created df for 71 -> 21
created df for 72 -> 21
created df for 73 -> 21
created df for 74 -> 21
created df for 77 -> 21
created df for 78 -> 21
created df for 80 -> 21
created df for 82 -> 21
created df for 83 -> 21
created df for 84 -> 21
created df for 86 -> 21
created df for 87 -> 21
created df for 90 -> 21
created df for 91 -> 21
created df for 92 -> 21
created df for 93 -> 21
created df for 94 -> 21
created df for 95 -> 21
created df for 96 -> 21
created df for 97 -> 21
created df for 99 -> 21
created df for 100 -> 21
created df for 101 -> 21
created df for 102 -> 21
created df for 103 -> 21
created df for 104 -> 21
created df for 105 -> 21
created df for 106 -> 21
created df for 107 -> 21
created df for 108 -> 21
created df for 109 -> 21
created df for 110 -> 21
created df for 111 -> 21
created df for 112 -> 21
created df for 113 -> 21
created df for 114 -> 21
created df for 118 -> 21
created df for 119 -> 21
created df for 121 -> 21
created df for 122 -> 21
created df for 123 -> 21
created df for 124 -> 21
created df for 125 -> 21
created df for 126 -> 21
created df for 127 -> 21
created df for 130 -> 21
created df for 131 -> 21
created df for 133 -> 21
created df for 134 -> 21
created df for 135 -> 21
created df for 136 -> 21
created df for 137 -> 21
created df for 138 -> 21
created df for 139 -> 21
created df for 140 -> 21
created df for 142 -> 21
created df for 145 -> 21
created df for 146 -> 21
created df for 147 -> 21
created df for 148 -> 21
created df for 149 -> 21
created df for 150 -> 21
created df for 153 -> 21
created df for 200 -> 21
created df for 2 -> 24
created df for 3 -> 24
created df for 4 -> 24
created df for 5 -> 24
created df for 6 -> 24
created df for 8 -> 24
created df for 9 -> 24
created df for 10 -> 24
created df for 13 -> 24
created df for 14 -> 24
created df for 16 -> 24
created df for 17 -> 24
created df for 18 -> 24
created df for 19 -> 24
created df for 20 -> 24
created df for 25 -> 24
created df for 27 -> 24
created df for 28 -> 24
created df for 30 -> 24
created df for 31 -> 24
created df for 32 -> 24
created df for 33 -> 24
created df for 35 -> 24
created df for 36 -> 24
created df for 38 -> 24
created df for 40 -> 24
created df for 41 -> 24
created df for 43 -> 24
created df for 44 -> 24
created df for 45 -> 24
created df for 47 -> 24
created df for 48 -> 24
created df for 49 -> 24
created df for 51 -> 24
created df for 52 -> 24
created df for 53 -> 24
created df for 54 -> 24
created df for 55 -> 24
created df for 56 -> 24
created df for 57 -> 24
created df for 58 -> 24
created df for 61 -> 24
created df for 62 -> 24
created df for 63 -> 24
created df for 64 -> 24
created df for 65 -> 24
created df for 66 -> 24
created df for 67 -> 24
created df for 68 -> 24
created df for 69 -> 24
created df for 70 -> 24
created df for 71 -> 24
created df for 72 -> 24
created df for 73 -> 24
created df for 74 -> 24
created df for 77 -> 24
created df for 78 -> 24
created df for 80 -> 24
created df for 82 -> 24
created df for 83 -> 24
created df for 84 -> 24
created df for 86 -> 24
created df for 87 -> 24
created df for 90 -> 24
created df for 91 -> 24
created df for 92 -> 24
created df for 93 -> 24
created df for 94 -> 24
created df for 95 -> 24
created df for 96 -> 24
created df for 97 -> 24
created df for 99 -> 24
created df for 100 -> 24
created df for 101 -> 24
created df for 102 -> 24
created df for 103 -> 24
created df for 104 -> 24
created df for 105 -> 24
created df for 106 -> 24
created df for 107 -> 24
created df for 108 -> 24
created df for 109 -> 24
created df for 110 -> 24
created df for 111 -> 24
created df for 112 -> 24
created df for 113 -> 24
created df for 114 -> 24
created df for 118 -> 24
created df for 119 -> 24
created df for 121 -> 24
created df for 122 -> 24
created df for 123 -> 24
created df for 124 -> 24
created df for 125 -> 24
created df for 126 -> 24
created df for 127 -> 24
created df for 130 -> 24
created df for 131 -> 24
created df for 133 -> 24
created df for 134 -> 24
created df for 135 -> 24
created df for 136 -> 24
created df for 137 -> 24
created df for 138 -> 24
created df for 139 -> 24
created df for 140 -> 24
created df for 142 -> 24
created df for 145 -> 24
created df for 146 -> 24
created df for 147 -> 24
created df for 148 -> 24
created df for 149 -> 24
created df for 150 -> 24
created df for 153 -> 24
created df for 200 -> 24
created df for 45 -> 26
created df for 54 -> 26
created df for 55 -> 26
created df for 56 -> 26
created df for 99 -> 26
created df for 101 -> 26
created df for 106 -> 26
created df for 107 -> 26
created df for 108 -> 26
created df for 124 -> 26
created df for 138 -> 26
created df for 2 -> 29
created df for 3 -> 29
created df for 4 -> 29
created df for 5 -> 29
created df for 6 -> 29
created df for 8 -> 29
created df for 9 -> 29
created df for 10 -> 29
created df for 13 -> 29
created df for 16 -> 29
created df for 17 -> 29
created df for 18 -> 29
created df for 25 -> 29
created df for 27 -> 29
created df for 28 -> 29
created df for 30 -> 29
created df for 31 -> 29
created df for 32 -> 29
created df for 35 -> 29
created df for 36 -> 29
created df for 38 -> 29
created df for 41 -> 29
created df for 45 -> 29
created df for 47 -> 29
created df for 48 -> 29
created df for 49 -> 29
created df for 51 -> 29
created df for 52 -> 29
created df for 53 -> 29
created df for 54 -> 29
created df for 56 -> 29
created df for 57 -> 29
created df for 58 -> 29
created df for 61 -> 29
created df for 62 -> 29
created df for 64 -> 29
created df for 65 -> 29
created df for 66 -> 29
created df for 67 -> 29
created df for 68 -> 29
created df for 69 -> 29
created df for 72 -> 29
created df for 73 -> 29
created df for 74 -> 29
created df for 77 -> 29
created df for 78 -> 29
created df for 80 -> 29
created df for 82 -> 29
created df for 84 -> 29
created df for 86 -> 29
created df for 87 -> 29
created df for 90 -> 29
created df for 91 -> 29
created df for 92 -> 29
created df for 93 -> 29
created df for 95 -> 29
created df for 96 -> 29
created df for 101 -> 29
created df for 103 -> 29
created df for 104 -> 29
created df for 108 -> 29
created df for 109 -> 29
created df for 110 -> 29
created df for 111 -> 29
created df for 113 -> 29
created df for 114 -> 29
created df for 118 -> 29
created df for 119 -> 29
created df for 121 -> 29
created df for 123 -> 29
created df for 125 -> 29
created df for 126 -> 29
created df for 127 -> 29
created df for 130 -> 29
created df for 131 -> 29
created df for 133 -> 29
created df for 134 -> 29
created df for 135 -> 29
created df for 136 -> 29
created df for 137 -> 29
created df for 139 -> 29
created df for 140 -> 29
created df for 142 -> 29
created df for 145 -> 29
created df for 146 -> 29
created df for 147 -> 29
created df for 148 -> 29
created df for 149 -> 29
created df for 150 -> 29
created df for 200 -> 29
created df for 2 -> 39
created df for 3 -> 39
created df for 4 -> 39
created df for 5 -> 39
created df for 6 -> 39
created df for 8 -> 39
created df for 9 -> 39
created df for 10 -> 39
created df for 13 -> 39
created df for 14 -> 39
created df for 16 -> 39
created df for 17 -> 39
created df for 18 -> 39
created df for 19 -> 39
created df for 20 -> 39
created df for 25 -> 39
created df for 27 -> 39
created df for 28 -> 39
created df for 30 -> 39
created df for 31 -> 39
created df for 32 -> 39
created df for 33 -> 39
created df for 35 -> 39
created df for 36 -> 39
created df for 38 -> 39
created df for 40 -> 39
created df for 41 -> 39
created df for 43 -> 39
created df for 44 -> 39
created df for 45 -> 39
created df for 47 -> 39
created df for 48 -> 39
created df for 49 -> 39
created df for 51 -> 39
created df for 52 -> 39
created df for 53 -> 39
created df for 54 -> 39
created df for 55 -> 39
created df for 56 -> 39
created df for 57 -> 39
created df for 58 -> 39

KeyboardInterrupt:

In [ ]:
"""
Dump glossary with SQLite3
"""

import sqlite3 as sql3

with sql3.connect("./test.db") as conn:
    cursor = conn.cursor()
    
    # create table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS course_glossary (
            course_id INTEGER PRIMARY KEY,
            inst_id INTEGER,
            course_code TEXT,
            course_name TEXT,
            min_units REAL,
            max_units REAL
        )
    """)
    
    with open("./data/institutions_cc.json", "r") as cc_fp, open("./data/institutions_state.json", "r") as uni_fp:
        cc_ids = json.load(cc_fp).keys()
        uni_ids = json.load(uni_fp).keys()
           
    glossary = []
    for uni_id in uni_ids:
        batch = []
        for cc_id in cc_ids:
            try:
                batch.append(create_course_glossary(
                    articulations=get_query(cc_id=cc_id, uni_id=uni_id),
                    cc=cc_id,
                    uni=uni_id
                ))
            except FileNotFoundError:  # no query exists, no query was scraped
                continue
        glossary.extend(batch)
        

    glossary_df = pd.concat(glossary, ignore_index=True)
    glossary_df.to_sql(
        name="course_glossary", 
        con=conn, 
        if_exists="append", 
        index=False
    )

KEYERROR (cc=51, uni=1): 'articulations'
TYPEERROR (cc=97, uni=21): unsupported operand type(s) for +: 'NoneType' and 'str'
KEYERROR (cc=55, uni=26): 'articulations'
KEYERROR (cc=124, uni=26): 'articulations'
TYPEERROR (cc=51, uni=50): unsupported operand type(s) for +: 'NoneType' and 'str'

IntegrityError: UNIQUE constraint failed: course_glossary.course_id

In [ ]:
import pandas as pd

# Example DataFrames
df1 = pd.DataFrame({
    'course_id': [1, 2, 3],
    'course_name': ['Math', 'Science', 'History'],
    'min_units': [3, 4, 3],
    'max_units': [5, 6, 4]
})

df2 = pd.DataFrame({
    'course_id': [4, 5, 6],
    'course_name': ['Geography', 'Literature', 'Physics'],
    'min_units': [3, 3, 4],
    'max_units': [5, 6, 6]
})

# Concatenate the DataFrames
df_combined = pd.concat([df1, df2], ignore_index=True)

# Print the resulting DataFrame
print(df_combined)

   course_id course_name  min_units  max_units
0          1        Math          3          5
1          2     Science          4          6
2          3     History          3          4
3          4   Geography          3          5
4          5  Literature          3          6
5          6     Physics          4          6